# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
.venv/

# PyCharm
.idea/
*.iml
.idea_modules/

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# OS specific
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Other
*.bak
*.tmp
*.swp
